body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:57px;
  width:229px;
  height:42px;
  font-size:36px;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:129px;
  width:442px;
  height:210px;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:292px;
  height:40px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:41px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:41px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:40px;
  width:292px;
  height:41px;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:150px;
  height:43px;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:43px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:81px;
  width:292px;
  height:43px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:288px;
  word-wrap:break-word;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:150px;
  height:43px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:43px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:124px;
  width:292px;
  height:43px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:288px;
  word-wrap:break-word;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:167px;
  width:150px;
  height:43px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:43px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:167px;
  width:292px;
  height:43px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:288px;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:379px;
  width:140px;
  height:40px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:66px;
  width:161px;
  height:1px;
  font-size:20px;
  color:#0000FF;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
